Stone.Clients/obj/Debug/netcoreapp2.1/Stone.Clients.WebApi.RazorAssemblyInfo.cs
Stone.Clients/obj/Debug/netcoreapp2.1/Stone.Clients.WebApi.AssemblyInfo.cs
.vs/Stone.Clients/v15/Server/sqlite3/storage.ide-shm
.vs/Stone.Clients/v15/Server/sqlite3/storage.ide-wal
